.strip {
    background-image: url('https://paxforex.org/sites/default/files/how_to_profit_from_currency_trends_in_forex.jpeg');
    min-height: 30vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AppEX {
    background: rgb(166, 177, 225);
    background: linear-gradient(0deg, rgba(166, 177, 225, 1) 0%, rgba(60, 155, 161, 1) 34%, rgba(29, 29, 97, 1) 58%, rgba(10, 10, 32, 1) 78%, rgba(10, 43, 10, 1) 93%, rgba(0, 0, 0, 0.8379726890756303) 96%);
}

.inputEX {
    min-height: 70vh;
}

.scoreEX {
    min-height: 70vh;
}

@media screen and (max-width: 767px) {
    .inputEX {
        min-height: 48vh;
    }
    .scoreEX {
        min-height: 22vh;
    }
}